$black: #000000;
$white: #FFFFFF;

$dark-base: #200206;
$base: #531b21;
$light-base: #6c2e37;
$lighter-base: #974d57;
$accent: #fefce8; //#f1f1f1 - light grey #fefce8 - cream
$secondary: #123731;
$light-secondary: #33645c;
$alert: #9e0b0f;

$text-color: $black;

$dark-grey: #262626;
$grey: #474747;
$mid-grey: #aaaaaa;
$light-grey: #e6e6e6;

$gallipoli: #607976; 
$ww1: #727966; 
$ww2: #737165;
$thaiburma: #6c3733;
$kokoda: #80765c;
$seasia: #40534d;
$korea: #636d6c; 
$vietnam: #52654a;

$remembrance-day: #566876;

