ul.breadcrumb {
	display: flex;
	margin-bottom: $vert-spacing-unit;
	flex-wrap: wrap;
	list-style: none;
    padding-left: 0;
    padding-bottom: 0;
	a {
		text-decoration: none;
		color: $black;
	}
	li {
		&:before {
			content: '';
		}
		&:after {
			content: '\0003E';
			padding: 0 $small-spacing / 2;
		}
		&:last-child {
			&:after {
				content: '';
			}
		}
	}
	
}